###############################################################################
# File:		hostgroup definitions for ServerView REST Monitoring
# Format:	NagiosCore
#
# Author:	Fujitsu Technology Solutions
# Version:      3.30.02
# LastChange:	3.30.00
# Date:		2015-10-16
#
# These configuration files are samples for a Nagios-Core integration.
# Please copy or integrate these files into your Nagios-Core system.
#
# If some parts are not needed the corresponding "register" field could be set 
# to 0 (zero) or corresponding parts can be deleted in copies.
# 
# It might happen that new versions of this plugin is delivered with new 
# hostgroups samples where hosts are not yet assigned.
# 	HINT:	set allow_empty_hostgroup_assignment=1 e.g. in main Icinga 
# 		configuration to ommit configuration check errors
#
###############################################################################

define hostgroup {
	hostgroup_name            	all-fujitsu-servers-Agent-REST
	alias                     	Fujitsu Servers (REST, Server Control Agent)
	hostgroup_members         	primergy-servers-REST,primergy-servers-REST-component-group,primergy-servers-REST-update-monitor,primergy-servers-REST-drvmonitor
	register                  	1
}

define hostgroup {
	hostgroup_name            	primergy-servers-REST
	alias                     	Fujitsu PRIMERGY Servers REST Monitoring
	register                  	1
}

define hostgroup {
	hostgroup_name            	primergy-servers-REST-component-group
	alias                     	Fujitsu PRIMERGY Servers REST Component Group Monitoring
	register                  	1
}

define hostgroup {
	hostgroup_name            	primergy-servers-REST-update-monitor
	alias                     	Fujitsu PRIMERGY Servers REST Update Monitoring
	register                  	1
}
define hostgroup {
	hostgroup_name            	primergy-servers-REST-drvmonitor
	alias                     	Fujitsu PRIMERGY Servers REST Driver-Monitor
	register                  	1
}

###############################################################################
# END OF FILE
###############################################################################
