###############################################################################
# File:		hostgroup definitions for PRIMERGY CIM Monitoring
# Format:	NagiosCore
#
# Author:	Fujitsu Technology Solutions
# Version:      3.30.02
# LastChange:	2.10.00
# Date:		2014-03-10
#
# These configuration files are samples for a Nagios-Core integration.
# Please copy or integrate these files into your Nagios-Core system.
#
# If some parts are not needed the corresponding "register" field could be set 
# to 0 (zero) or corresponding parts can be deleted in copies.
# 
# It might happen that new versions of this plugin is delivered with new 
# hostgroups samples where hosts are not yet assigned.
# 	HINT:	set allow_empty_hostgroup_assignment=1 e.g. in main Icinga 
# 		configuration to ommit configuration check errors
#
###############################################################################

define hostgroup {
	hostgroup_name            	all-fujitsu-servers-CIM
	alias                     	Fujitsu Servers
	hostgroup_members         	primergy-servers-CIM,primergy-servers-CIM-component-group,primergy-servers-CIM-update-monitor,primergy-servers-CIM-drvmonitor
	register                  	1
}

define hostgroup {
	hostgroup_name            	primergy-servers-CIM
	alias                     	Fujitsu PRIMERGY Servers CIM Monitoring
	register                  	1
}

define hostgroup {
	hostgroup_name            	primergy-servers-CIM-component-group
	alias                     	Fujitsu PRIMERGY Servers CIM Component Group Monitoring
	register                  	1
}

define hostgroup {
	hostgroup_name            	primergy-servers-CIM-update-monitor
	alias                     	Fujitsu PRIMERGY Servers CIM Update Monitoring
	register                  	1
}
define hostgroup {
	hostgroup_name            	primergy-servers-CIM-drvmonitor
	alias                     	Fujitsu PRIMERGY Servers CIM Driver-Monitor
	register                  	1
}

###############################################################################
# END OF FILE
###############################################################################
