###############################################################################
# File:		service definition 
# Format:	NagiosCore
#
# Author:	Fujitsu Technology Solutions
# Version:      3.30.02
# LastChange:	1.00.00
# Date:		2012-11-12
#
# These configuration files are samples for a Nagios-Core integration.
# Please copy or integrate these files into your Nagios-Core system.
#
# Expects: predefined generic-service
###############################################################################

define service {
	hostgroup_name			all-fujitsu-servers	
	service_description       	SV SNMP Uptime
	servicegroups             	serverview
	use                       	generic-service
	check_command             	check_fujitsu_server!--chkuptime
	flap_detection_enabled    	1
	register                  	1
}	

###############################################################################
# END OF FILE
###############################################################################
