###############################################################################
# File:		service dependencies
# Format:	NagiosCore
#
# Author:	Fujitsu Technology Solutions
# Version:      3.30.02
# LastChange:	3.01.00
# Date:		2014-09-04
#
###############################################################################

define servicedependency {
    dependent_service_description 	SV Server
    hostgroup_name 			primergy-servers-iRMC-SNMP
    service_description 		SV SNMP Uptime
    execution_failure_criteria 		w,u,c
    notification_failure_criteria 	w,u,c
    inherits_parent			1
}

###############################################################################
# END OF FILE
###############################################################################
