###############################################################################
# File:		service definition 
# Format:	NagiosCore
#
# Author:	Fujitsu Technology Solutions
# Version:      3.30.02
# LastChange:	3.01.00
# Date:		2014-09-04
#
# These configuration files are samples for a Nagios-Core integration.
# Please copy or integrate these files into your Nagios-Core system.
#
# Expects: predefined generic-service and perfdata-service
###############################################################################

define service {
	hostgroup_name            	primergy-servers-iRMC-SNMP
	service_description       	SV Server
	servicegroups             	serverview
	use                       	generic-service,perfdata-service
	check_command             	check_primergy
	flap_detection_enabled    	0
	register                  	1
}

define service {
	hostgroup_name			primergy-servers-iRMC-SNMP
	service_description       	SV SNMP Uptime
	servicegroups             	serverview
	use                       	generic-service
	check_command             	check_fujitsu_server!--chkuptime
	flap_detection_enabled    	1
	register                  	1
}	

###############################################################################
# END OF FILE
###############################################################################
