###############################################################################
# File:		hostgroup definitions for ServerView REST Monitoring
# Format:	NagiosCore
#
# Author:	Fujitsu Technology Solutions
# Version:      3.30.02
# LastChange:	3.30.00
# Date:		2015-10-13
#
# These configuration files are samples for a Nagios-Core integration.
# Please copy or integrate these files into your Nagios-Core system.
#
# If some parts are not needed the corresponding "register" field could be set 
# to 0 (zero) or corresponding parts can be deleted in copies.
# 
# It might happen that new versions of this plugin is delivered with new 
# hostgroups samples where hosts are not yet assigned.
# 	HINT:	set allow_empty_hostgroup_assignment=1 e.g. in main Icinga 
# 		configuration to ommit configuration check errors
#
###############################################################################

define hostgroup {
	hostgroup_name            	all-fujitsu-servers-iRMCReport-REST
	alias                     	Fujitsu Servers (REST, iRMC Report)
	hostgroup_members         	primergy-servers-iRMCReport-REST,primergy-servers-iRMCReport-REST-component-group
	register                  	1
}

define hostgroup {
	hostgroup_name            	primergy-servers-iRMCReport-REST
	alias                     	Fujitsu PRIMERGY Servers iRMC Report REST Monitoring
	register                  	1
}

define hostgroup {
	hostgroup_name            	primergy-servers-iRMCReport-REST-component-group
	alias                     	Fujitsu PRIMERGY Servers iRMC Report REST Component Group Monitoring
	register                  	1
}

###############################################################################
# END OF FILE
###############################################################################
